<body>
	<h1>Simple Calculator</h1>
  
	<input type="number" id="calories" placeholder="Enter Intake">
	<input type="submit" id="addBtn" value="Add to Total">
	<h2 id="Total">Total</h2>
  </body>
  
  <script>
	var total = 0; // variable to store the current total
	
	// function to calculate total input
	function calculateTotal() {
	  // get value from user input
	  var calories = Number(document.getElementById('calories').value);
	  
	  // add current input value to total
	  total += calories;
	  
	  // display updated total in the Total heading element
	  document.getElementById('Total').innerHTML =  total;
	}
	
	// attach event listener to the Add button
	document.getElementById('addBtn').addEventListener('click', calculateTotal);
  </script>

<router-outlet></router-outlet>
